.footer-col{
  color: #757575;
  width: 20%;
  display: inline-block;
  margin-right: 10px;
}

.footer-row{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

.footer-container{
    width: 100%;
    background-color: #141414;
    padding-bottom: 30px;
}
  
.footer-col li{
    margin-bottom: 10px;
}

.footer-col ul{
    list-style-type: none;
}

.footer-col a{
    color: #757575;
    text-decoration: none;
}

.footer-select-linguagem{
    height: 35px;
    margin-left: 40px;
}